* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #204063;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.solve {
  background-color: #ffc93c;
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 20px;
  color: white;
  padding: 5px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  position: relative;
}
.solve p {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
}

.btn1 {
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 35px;
  color: white;
  padding: 5px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  position: relative;
}
.btn1 p {
  font-size: 20px;
  margin-top: 30px;
}
.btn1 span {
  font-size: 20px;
  height: 150px;
  width: 250px;
}

.btn2 {
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 35px;
  color: white;
  padding: 5px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  position: relative;
}
.btn2 p {
  font-size: 20px;
  margin-top: 30px;
}
.btn2 span {
  font-size: 20px;
  height: 150px;
}

.btn3 {
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 35px;
  color: white;
  padding: 5px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  position: relative;
}
.btn3 p {
  margin-top: 30px;
  font-size: 20px;
}
.btn3 span {
  height: 150px;
  font-size: 20px;
}

.btn4 {
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 35px;
  color: white;
  padding: 5px;
  width: 250px;
  height: 200px;
  cursor: pointer;
  position: relative;
}
.btn4 p {
  margin-top: 50px;
  font-size: 20px;
}
.btn4 span {
  font-size: 20px;
  height: 150px;
}

.down {
  display: flex;
  background: none;
  border: 2px solid white;
  font-size: 35px;
  color: white;
  padding: 5px;
  width: 250px;
  height: auto;
  cursor: pointer;
  position: relative;
  background-color: #ffc93c;
}
.down p {
  text-align: center;
  margin-left: 100px;
}

.btn-swap span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #40a8c4;
  padding: 52px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-swap:hover span {
  opacity: 1;
}
.btn-swap::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #40a8c4;
  transition: width 0.5s;
}

.btn-swap:hover::before {
  width: 100%;
}
