@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/me.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
}

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}

.container .nav ul li a:hover {
  color: #1fdfdf;
}

.container .intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .intro h5 {
  left: 0px;
  text-align: left;
}

.container .intro h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.container .intro p {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

.container .intro button {
  background-color: none;
  border: 2px solid darkseagreen;
  color: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 100px;
}

.container .intro button:hover {
  background-color: darkslategray;
}
